extends layout

block content
  header
    nav.navbar.navbar-expand-md.navbar-light.fixed-top.vj-bg-dark
      a(class='navbar-brand' href='/') Logo
      button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#') Website overview
          li.nav-item
            a.nav-link(href='#') Content overview
          li.nav-item
            a.nav-link(href='#') Twitter activity
          li.nav-item
            a.nav-link(href='#') Misc
          li.nav-item
            a.nav-link(href='#') All sites
        ul.navbar-nav.navbar-right
          li.nav-item.toggle-settings-sidebar
            a.nav-link(href='#')
              span.fas.fa-cog
  .vj-wrapper
    .vj-left-aside
      nav.vj-navbar-aside
        a.nav-link(href='#')
          i.fas.fa-edit
        a.nav-link(href='#')
          i.fas.fa-external-link-alt
        a.nav-link(href='#')
          i.fas.fa-share-alt-square
        a.nav-link(href='#')
          i.fas.fa-expand-arrows-alt
    .vj-content
      .row
        .col-sm-6
          .row
            .col-sm-12
              .widget.card
                .card-medium#sessions_last_month
            .col-sm-12
              .row
                .col-sm-6
                  .widget.card
                    .card-small#users_type
                .col-sm-6
                  .widget.card
                    .card-small#users_last_month
              .row
                .col-sm-6
                  .widget.card
                    .card-small#bounce_rate
                  .widget.card
                    .card-small
                      p column
                .col-sm-6
                  .widget.card
                    .card-large
                      .jvmap-world#jvmap_world
        .col-sm-6
          .row
            .col-sm-12
              .widget.card
                .card-medium#sessions_this_month
            .col-sm-12
              .row
                .col-sm-6
                  .widget.card
                    .card-small#users_this_month
                .col-sm-6
                  .widget.card
                    .card-small#social_referral
              .row
                .col-sm-6
                  .widget.card
                    .card-large
                      p column
                .col-sm-6
                  div.widget.card
                    .card-large
                      p column
  .vj-right-aside
    #theme_switch.btn-group.btn-group-toggle(data-toggle='buttons')
      label.btn.btn-secondary.active(for='theme_dark') Dark Theme
        input(type='radio' name='options' id='theme_dark' autocomplete='off' checked)
      label.btn.btn-secondary(for='theme_light') Light Theme
        input(type='radio' name='options' id='theme_light' autocomplete='off' )
  script(src='/jquery/jquery.min.js')
  script(src='/bootstrapjs/bootstrap.min.js')
  script(src='/fontawesome/all.min.js')
  script(src='/javascripts/vendar/jquery.canvasjs.min.js')
  script(src='/javascripts/vendar/jquery.vmap.min.js')
  script(src='/javascripts/vendar/jquery.vmap.world.js')
  script(src='./javascripts/dashboard.js')
  script(src='/javascripts/canvas-graphs.js')
  script(src='/javascripts/jvmap-graphs.js')
