doctype html
html.dark
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/boostrapcss/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/vendor/canvasjs.css')
    link(rel="stylesheet", href='/stylesheets/vendor/jqvmap.min.css')
  body
    block content
