
:root {
  --theme-dark: #22313a;
  --theme-hard-dark: #1e2a31;
  --theme-light: #8a9ba1;
  --aside-width: 60px;
}

html {
  height: 100%;
}

a {
  color: var(--white);
}

body {
  min-height: 100%;
  font-size: 16px;
  background-color: var(--theme-dark);
  color: var(--theme-light);
}

.vj-bg-dark {
  background-color: var(--theme-hard-dark);
  color: var(--theme-light);
}
.vj-wrapper {
  min-height: 100%;
}

.vj-left-aside {
  display: none;
}

.vj-content {
  position: relative;
  padding: 75px 15px 15px;
}

.widget {
  margin-bottom: 25px;
  border-radius: 3px;
}

/* cards */
.card {
  padding: 15px;
  background-color: var(--theme-hard-dark);
  box-shadow: 0 0 4px 0 rgba(0,0,0,.04);
}

.card-200 {
  height: 200px;
}

.card-250 {
  height: 250px;
}

.card-455 {
  height: 455px;
}

@media (min-width: 768px) {
  .vj-content {
    padding: 15px;
  }

  .vj-left-aside {
    position: fixed;
    top: 60px;
    left: 0;
    display: block;
    width: var(--aside-width);
    height: 100%;
    padding: 10px;
  }

  .vj-left-aside a {
    width: 40px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 0 12px;
    line-height: 1;
    text-align: center;
    background-color: var(--theme-hard-dark);
  }

  .vj-content {
    top: 60px;
    left: var(--aside-width);
    width: calc(100% - var(--aside-width));
    min-height: 100%;
  }
}